@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
:root {
    --bg-color: #191f36;
    --snd-bg-color: #262b40;
    --text-color: #fff;
    --main-color: #59b2f4;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    background: var(--bg-color);
    color: var(--text-color);
    font-size: 1.6rem;
    line-height: 1.5;
}
section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}
.logo {
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: default;
    
}
.navbar a {
    color: var(--text-color);
    font-size: 1.6rem;
    margin-left: 4rem;
    text-transform: uppercase;
    transition: color 0.3s;
}
.navbar a:hover,
.navbar a.active {
    color: var(--text-color);
}
#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}
.home{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home-content h3 {
    font-size: 3.1rem;
    font-weight: 700;
}
.home-content h3::nth-of-type(2) {
    font-size: 2rem;
}
.space {
    color: var(--main-color);
}
.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    margin: .5rem 0;
    line-height: 1.3;
}
.home-img img {
    max-width: 25vw;
    animation: floatImage 6s ease-in-out infinite;
}
@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-1rem);
    }
    100% {
        transform: translateY(0);
    }
}
.home-content p {
    font-size: 1.6rem;
    color: var(--text-color);
    margin: 1rem 0 2rem;
    max-width: 600px;
}
.social-media a {
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 2rem 1rem 2rem 0;
    transition: 0.3s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--snd-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}
.btn {
    display: inline-block;
    background: var(--main-color);
    color: var(--bg-color);
    letter-spacing: 0.1rem;
    padding: 1rem 3rem;
    font-size: 1.6rem;
    border-radius: 4rem;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0 0 1rem var(--main-color);
    transition: 0.3s ease;
}
.btn:hover {
    box-shadow: none;
}
.about{
    display: flex;
    background: var(--snd-bg-color);
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.heading {
    text-align: center;
    font-size: 3.2rem;
}
.about-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.about-content h2 {
    text-align: left;
    line-height: 1.3;
}
.about-content h3 {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.about-content p {
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 2rem;
}
.Education h2 {
    margin-bottom: 5rem;
}
.Education-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.Education-container .education-box {
    background: var(--snd-bg-color);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem var(--main-color);
    flex: 1 1 30%;
    min-width: 300px;
}
.experience h2 {
    margin-bottom: 5rem;
}
.experience-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.experience-container .experience-box {
    background: var(--snd-bg-color);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem var(--main-color);
    flex: 1 1 30%;
    min-width: 300px;
}

.services h2 {
    margin-bottom: 5rem;
}
.services-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.services-container .service-box {
    background: var(--snd-bg-color);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem var(--main-color);
    flex: 1 1 30%;
    min-width: 300px;
    transition: 0.3s ease;
}
.service-box:hover {
    transform: translateY(-1rem);
}
.service-box i {
    font-size: 3rem;
    color: var(--main-color);
    margin-bottom: 1rem;
}
.service-box h2 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
}
.service-box p {
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 2rem;
}
.contact h2 {
    margin-bottom: 3rem;
}
.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
    
}
.contact form .input-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.contact form .input-box input,
.contact form  textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--snd-bg-color);
    border-radius: .5rem;
    margin: .7rem 0;
}
.contact form .input-box input{
    width: 49%;
}
.contact form  textarea {
    resize: none;
    height: 15rem;
}
.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    background: var(--snd-bg-color);
}
.footer-text {
    font-size: 1.6rem;
}
.footer-icontop {
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: .8rem 1rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
    cursor: pointer;
}
.footer-icontop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}
.footer .footer-icontop  a {
    font-size: 2.4rem;
    color: var(--snd-bg-color);
}


/*BREAKPOINTS */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
    .header {
        padding: 2rem 3%;
    }
    section {
        padding: 10rem 3% 2rem;
    }
    .Education{
        padding: 7rem;
    }
    .experience{
        padding: 7rem;
    }
    .services{
        padding: 7rem;
    }
    .contact{
        min-height: auto;
        padding: 7rem;
    }
    .footer {
        padding: 2rem 3%;
    }
}
@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
        display: none;
    }
    .navbar.active {
        display: block;
    }
    .navbar a {
        display: block;
        margin: 1.5rem 0;
        font-size: 2rem 0;
    }
    .home{
        flex-direction: column ;
    }
    .home-content h3 {
        font-size: 2.6rem;
    }
    .home-content h1 {
        font-size: 4.2rem;
    }
    .home-content  {
        order: 2;
        text-align: center;
    }
    .home-img img {
        max-width: 40vw;
        margin-top: 3rem;
    }
    .about{
        flex-direction: column ;
    }
    .about-image img {
        max-width: 90vw;
        margin-bottom: 3rem;
    }
    .Education-container .education-box,
    .experience-container .experience-box,
    .services-container .service-box {
        flex: 1 1 100%;
        min-width: 100%;

    }
    .contact form .input-box input {
        width: 100%;
    }
    .footer {
        text-align: center;
        gap: 2rem;
        flex-direction: column;
    }
    .footer-text {
        font-size: 1.4rem;
    }
    .footer .footer-icontop {
        margin: 0 auto;
    }

}
@media (max-width: 617px) {
    .home-img img {
        max-width: 60vw;
        margin-top: 8rem;
    }
    .about-image img {
        max-width: 70vw;
        margin-bottom: 4rem;
    }
}
@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
    .contact form .input-box input {
        width: 100%;
    }
}